
%proximanova-regular {
  font-family: 'ProximaNova-Regular', sans-serif;
  font-weight: 400;
}

%proximanova-semibold {
  font-family: 'ProximaNova-SemiBoldtica', sans-serif;
  font-weight: 600;
}

%proximanova-bold {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-weight: 700;
}

// Color

$color-title: #253942;
$bg-color: #FAFAFA;